<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>hostelmerge1.1</display-name>
  <welcome-file-list>
    <welcome-file>Home.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>AttendanceController</display-name>
    <servlet-name>AttendanceController</servlet-name>
    <servlet-class>sis.com.controller.AttendanceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AttendanceController</servlet-name>
    <url-pattern>/AttendanceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this is for admin login</description>
    <display-name>AdminLoginController</display-name>
    <servlet-name>AdminLoginController</servlet-name>
    <servlet-class>sis.com.controller.AdminLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminLoginController</servlet-name>
    <url-pattern>/AdminLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminRegistrationController</display-name>
    <servlet-name>AdminRegistrationController</servlet-name>
    <servlet-class>sis.com.controller.AdminRegistrationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminRegistrationController</servlet-name>
    <url-pattern>/AdminRegistrationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description>this is controller for parent login page</description>
    <display-name>ParentLoginController</display-name>
    <servlet-name>ParentLoginController</servlet-name>
    <servlet-class>sis.com.controller.ParentLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentLoginController</servlet-name>
    <url-pattern>/ParentLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentComplainController</display-name>
    <servlet-name>ParentComplainController</servlet-name>
    <servlet-class>sis.com.controller.ParentComplainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentComplainController</servlet-name>
    <url-pattern>/ParentComplainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminParentComplainDelete</display-name>
    <servlet-name>AdminParentComplainDelete</servlet-name>
    <servlet-class>sis.com.controller.AdminParentComplainDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminParentComplainDelete</servlet-name>
    <url-pattern>/AdminParentComplainDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminParentComplainQueryDelete</display-name>
    <servlet-name>AdminParentComplainQueryDelete</servlet-name>
    <servlet-class>sis.com.controller.AdminParentComplainQueryDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminParentComplainQueryDelete</servlet-name>
    <url-pattern>/delete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminReplyController</display-name>
    <servlet-name>AdminReplyController</servlet-name>
    <servlet-class>sis.com.controller.AdminReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminReplyController</servlet-name>
    <url-pattern>/AdminReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentReplyController</display-name>
    <servlet-name>ParentReplyController</servlet-name>
    <servlet-class>sis.com.controller.ParentReplyController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentReplyController</servlet-name>
    <url-pattern>/ParentReplyController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentMessageDelete</display-name>
    <servlet-name>ParentMessageDelete</servlet-name>
    <servlet-class>sis.com.controller.ParentMessageDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentMessageDelete</servlet-name>
    <url-pattern>/ParentMessageDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LeaveRequest</display-name>
    <servlet-name>LeaveRequest</servlet-name>
    <servlet-class>sis.com.controller.LeaveRequest</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LeaveRequest</servlet-name>
    <url-pattern>/LeaveRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteLeave</display-name>
    <servlet-name>DeleteLeave</servlet-name>
    <servlet-class>sis.com.controller.DeleteLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteLeave</servlet-name>
    <url-pattern>/DeleteLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApproveLeave</display-name>
    <servlet-name>ApproveLeave</servlet-name>
    <servlet-class>sis.com.controller.ApproveLeave</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApproveLeave</servlet-name>
    <url-pattern>/ApproveLeave</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentLeaveDelete</display-name>
    <servlet-name>ParentLeaveDelete</servlet-name>
    <servlet-class>sis.com.controller.ParentLeaveDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentLeaveDelete</servlet-name>
    <url-pattern>/ParentLeaveDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentLeaveApprove</display-name>
    <servlet-name>ParentLeaveApprove</servlet-name>
    <servlet-class>sis.com.controller.ParentLeaveApprove</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentLeaveApprove</servlet-name>
    <url-pattern>/ParentLeaveApprove</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ParentLeaveReject</display-name>
    <servlet-name>ParentLeaveReject</servlet-name>
    <servlet-class>sis.com.controller.ParentLeaveReject</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ParentLeaveReject</servlet-name>
    <url-pattern>/ParentLeaveReject</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAttendance</display-name>
    <servlet-name>UpdateAttendance</servlet-name>
    <servlet-class>sis.com.controller.UpdateAttendance</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAttendance</servlet-name>
    <url-pattern>/UpdateAttendance</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddRegister</display-name>
    <servlet-name>AddRegister</servlet-name>
    <servlet-class>sis.com.controller.AddRegister</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddRegister</servlet-name>
    <url-pattern>/AddRegister</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterStudent</display-name>
    <servlet-name>RegisterStudent</servlet-name>
    <servlet-class>sis.com.controller.RegisterStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterStudent</servlet-name>
    <url-pattern>/RegisterStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreviewController</display-name>
    <servlet-name>PreviewController</servlet-name>
    <servlet-class>sis.com.controller.PreviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreviewController</servlet-name>
    <url-pattern>/PreviewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ImagePreviewController</display-name>
    <servlet-name>ImagePreviewController</servlet-name>
    <servlet-class>sis.com.controller.ImagePreviewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImagePreviewController</servlet-name>
    <url-pattern>/ImagePreviewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AllotStudentController</display-name>
    <servlet-name>AllotStudentController</servlet-name>
    <servlet-class>sis.com.controller.AllotStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AllotStudentController</servlet-name>
    <url-pattern>/AllotStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DuCheckController</display-name>
    <servlet-name>DuCheckController</servlet-name>
    <servlet-class>sis.com.controller.DuCheckController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DuCheckController</servlet-name>
    <url-pattern>/DuCheckController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllStudent</display-name>
    <servlet-name>ShowAllStudent</servlet-name>
    <servlet-class>sis.com.controller.ShowAllStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllStudent</servlet-name>
    <url-pattern>/ShowAllStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllStudentController</display-name>
    <servlet-name>ShowAllStudentController</servlet-name>
    <servlet-class>sis.com.controller.ShowAllStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllStudentController</servlet-name>
    <url-pattern>/ShowAllStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowStudentController</display-name>
    <servlet-name>ShowStudentController</servlet-name>
    <servlet-class>sis.com.controller.ShowStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowStudentController</servlet-name>
    <url-pattern>/ShowStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewStudentController</display-name>
    <servlet-name>ViewStudentController</servlet-name>
    <servlet-class>sis.com.controller.ViewStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewStudentController</servlet-name>
    <url-pattern>/ViewStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewImageController</display-name>
    <servlet-name>ViewImageController</servlet-name>
    <servlet-class>sis.com.controller.ViewImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewImageController</servlet-name>
    <url-pattern>/ViewImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteImageController</display-name>
    <servlet-name>DeleteImageController</servlet-name>
    <servlet-class>sis.com.controller.DeleteImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteImageController</servlet-name>
    <url-pattern>/DeleteImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PasswordController</display-name>
    <servlet-name>PasswordController</servlet-name>
    <servlet-class>sis.com.controller.PasswordController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PasswordController</servlet-name>
    <url-pattern>/PasswordController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StudentLoginController</display-name>
    <servlet-name>StudentLoginController</servlet-name>
    <servlet-class>sis.com.controller.StudentLoginController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StudentLoginController</servlet-name>
    <url-pattern>/StudentLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateStudentController</display-name>
    <servlet-name>UpdateStudentController</servlet-name>
    <servlet-class>sis.com.controller.UpdateStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateStudentController</servlet-name>
    <url-pattern>/UpdateStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateController</display-name>
    <servlet-name>ViewUpdateController</servlet-name>
    <servlet-class>sis.com.controller.ViewUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateController</servlet-name>
    <url-pattern>/ViewUpdateController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateSubmitController</display-name>
    <servlet-name>ViewUpdateSubmitController</servlet-name>
    <servlet-class>sis.com.controller.ViewUpdateSubmitController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateSubmitController</servlet-name>
    <url-pattern>/ViewUpdateSubmitController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateParentController</display-name>
    <servlet-name>ViewUpdateParentController</servlet-name>
    <servlet-class>sis.com.controller.ViewUpdateParentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateParentController</servlet-name>
    <url-pattern>/ViewUpdateParentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateImageController</display-name>
    <servlet-name>ViewUpdateImageController</servlet-name>
    <servlet-class>sis.com.controller.ViewUpdateImageController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateImageController</servlet-name>
    <url-pattern>/ViewUpdateImageController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewUpdateDocController</display-name>
    <servlet-name>ViewUpdateDocController</servlet-name>
    <servlet-class>sis.com.controller.ViewUpdateDocController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewUpdateDocController</servlet-name>
    <url-pattern>/ViewUpdateDocController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteStudentController</display-name>
    <servlet-name>DeleteStudentController</servlet-name>
    <servlet-class>sis.com.controller.DeleteStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteStudentController</servlet-name>
    <url-pattern>/DeleteStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Admin_Mess_Menu_Controller</display-name>
    <servlet-name>Admin_Mess_Menu_Controller</servlet-name>
    <servlet-class>sis.com.controller.Admin_Mess_Menu_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Admin_Mess_Menu_Controller</servlet-name>
    <url-pattern>/Admin_Mess_Menu_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Mess_Menu_Update_Controller</display-name>
    <servlet-name>Mess_Menu_Update_Controller</servlet-name>
    <servlet-class>sis.com.controller.Mess_Menu_Update_Controller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Mess_Menu_Update_Controller</servlet-name>
    <url-pattern>/Mess_Menu_Update_Controller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegisteredStudent</display-name>
    <servlet-name>ShowRegisteredStudent</servlet-name>
    <servlet-class>sis.com.controller.ShowRegisteredStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegisteredStudent</servlet-name>
    <url-pattern>/ShowRegisteredStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowRegisteredStudentController</display-name>
    <servlet-name>ShowRegisteredStudentController</servlet-name>
    <servlet-class>sis.com.controller.ShowRegisteredStudentController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowRegisteredStudentController</servlet-name>
    <url-pattern>/ShowRegisteredStudentController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>sortStuController</display-name>
    <servlet-name>sortStuController</servlet-name>
    <servlet-class>sis.com.controller.sortStuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>sortStuController</servlet-name>
    <url-pattern>/sortStuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectStuController</display-name>
    <servlet-name>SelectStuController</servlet-name>
    <servlet-class>sis.com.controller.SelectStuController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectStuController</servlet-name>
    <url-pattern>/SelectStuController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>tabulationController</display-name>
    <servlet-name>tabulationController</servlet-name>
    <servlet-class>sis.com.controller.tabulationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>tabulationController</servlet-name>
    <url-pattern>/tabulationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>selectedStudentContoller</display-name>
    <servlet-name>selectedStudentContoller</servlet-name>
    <servlet-class>sis.com.controller.selectedStudentContoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>selectedStudentContoller</servlet-name>
    <url-pattern>/selectedStudentContoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>feedbackController</display-name>
    <servlet-name>feedbackController</servlet-name>
    <servlet-class>sis.com.controller.feedbackController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>feedbackController</servlet-name>
    <url-pattern>/feedbackController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>noticeController</display-name>
    <servlet-name>noticeController</servlet-name>
    <servlet-class>sis.com.controller.noticeController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeController</servlet-name>
    <url-pattern>/noticeController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>noticeDelete</display-name>
    <servlet-name>noticeDelete</servlet-name>
    <servlet-class>sis.com.controller.noticeDelete</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeDelete</servlet-name>
    <url-pattern>/noticeDelete</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>noticeDownload</display-name>
    <servlet-name>noticeDownload</servlet-name>
    <servlet-class>sis.com.controller.noticeDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>noticeDownload</servlet-name>
    <url-pattern>/noticeDownload</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complainController</display-name>
    <servlet-name>complainController</servlet-name>
    <servlet-class>sis.com.controller.complainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complainController</servlet-name>
    <url-pattern>/complainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowComplainController</display-name>
    <servlet-name>ShowComplainController</servlet-name>
    <servlet-class>sis.com.controller.ShowComplainController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowComplainController</servlet-name>
    <url-pattern>/ShowComplainController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name> updateStatus</display-name>
    <servlet-name>updateStatus</servlet-name>
    <servlet-class>sis.com.controller.updateStatus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateStatus</servlet-name>
    <url-pattern>/updateStatus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteComplain</display-name>
    <servlet-name>DeleteComplain</servlet-name>
    <servlet-class>sis.com.controller.DeleteComplain</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteComplain</servlet-name>
    <url-pattern>/DeleteComplain</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complainDeptController</display-name>
    <servlet-name>complainDeptController</servlet-name>
    <servlet-class>sis.com.controller.complainDeptController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complainDeptController</servlet-name>
    <url-pattern>/complainDeptController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>complainToStudent</display-name>
    <servlet-name>complainToStudent</servlet-name>
    <servlet-class>sis.com.controller.complainToStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>complainToStudent</servlet-name>
    <url-pattern>/complainToStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReplyStudent</display-name>
    <servlet-name>ReplyStudent</servlet-name>
    <servlet-class>sis.com.controller.ReplyStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReplyStudent</servlet-name>
    <url-pattern>/ReplyStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllCleanliness</display-name>
    <servlet-name>ShowAllCleanliness</servlet-name>
    <servlet-class>sis.com.controller.ShowAllCleanliness</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllCleanliness</servlet-name>
    <url-pattern>/ShowAllCleanliness</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllElectric</display-name>
    <servlet-name>ShowAllElectric</servlet-name>
    <servlet-class>sis.com.controller.ShowAllElectric</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllElectric</servlet-name>
    <url-pattern>/ShowAllElectric</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllMess</display-name>
    <servlet-name>ShowAllMess</servlet-name>
    <servlet-class>sis.com.controller.ShowAllMess</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllMess</servlet-name>
    <url-pattern>/ShowAllMess</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WorkerAttendence</display-name>
    <servlet-name>WorkerAttendence</servlet-name>
    <servlet-class>sis.com.controller.WorkerAttendence</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WorkerAttendence</servlet-name>
    <url-pattern>/WorkerAttendence</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddWorkerController</display-name>
    <servlet-name>AddWorkerController</servlet-name>
    <servlet-class>sis.com.controller.AddWorkerController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddWorkerController</servlet-name>
    <url-pattern>/AddWorkerController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteWorkerDetails</display-name>
    <servlet-name>DeleteWorkerDetails</servlet-name>
    <servlet-class>sis.com.controller.DeleteWorkerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteWorkerDetails</servlet-name>
    <url-pattern>/DeleteWorkerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateWorkerDetails</display-name>
    <servlet-name>UpdateWorkerDetails</servlet-name>
    <servlet-class>sis.com.controller.UpdateWorkerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateWorkerDetails</servlet-name>
    <url-pattern>/UpdateWorkerDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogOutController</display-name>
    <servlet-name>LogOutController</servlet-name>
    <servlet-class>sis.com.controller.LogOutController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogOutController</servlet-name>
    <url-pattern>/LogOutController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name></display-name>
    <servlet-name>SuperAdminController</servlet-name>
    <servlet-class>sis.com.controller.SuperAdminController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SuperAdminController</servlet-name>
    <url-pattern>/SuperAdminController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PermanenentDeleteStudent</display-name>
    <servlet-name>PermanenentDeleteStudent</servlet-name>
    <servlet-class>sis.com.controller.PermanenentDeleteStudent</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PermanenentDeleteStudent</servlet-name>
    <url-pattern>/PermanenentDeleteStudent</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HardDeleteController</display-name>
    <servlet-name>HardDeleteController</servlet-name>
    <servlet-class>sis.com.controller.HardDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HardDeleteController</servlet-name>
    <url-pattern>/HardDeleteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RestoreController</display-name>
    <servlet-name>RestoreController</servlet-name>
    <servlet-class>sis.com.controller.RestoreController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RestoreController</servlet-name>
    <url-pattern>/RestoreController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewLeaveDocController</display-name>
    <servlet-name>ViewLeaveDocController</servlet-name>
    <servlet-class>sis.com.controller.ViewLeaveDocController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewLeaveDocController</servlet-name>
    <url-pattern>/ViewLeaveDocController</url-pattern>
  </servlet-mapping>
</web-app>